@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainWhiteColor: #fff;
  --mainColorTransparant: transparent;
  --mainColorBlackRgba: rgba(0, 0, 0, 0.7);
  --mainletterSpacing: 4px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: url('./background-img.jpg') center/cover no-repeat fixed;
}
.container {
  height: 100vh;
  max-width: 1750px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.row {
  background-color: var(--mainColorBlackRgba);
  color: var(--mainWhiteColor);
  width: 60vw;
  max-width: 700px;
  text-align: center;
  padding: 3rem 2rem;
  border: 5px solid var(--mainWhiteColor);
  border-radius: 20px;
}
.row h1 {
  font-size: 7rem;
}
.row h2 {
  font-size: 4rem;
}
.row h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  width: 200px;
  height: 60px;
  margin: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: transparent;
  color: var(--mainWhiteColor);
  font-weight: 700;
  border: none;
  outline: none;
  border: 3px solid var(--mainWhiteColor);
  position: relative;
  cursor: pointer;
}
.btn::before,
.btn::after {
  content: '';
  height: 4px;
  width: 30px;
  background-color: var(--mainColorBlackRgba);
  position: absolute;
  transition: 0.4s linear;
  transform: skew(40deg);
}
.btn::before {
  top: -3px;
  left: 10%;
}
.btn::after {
  bottom: -3px;
  right: 10%;
}
.btn:hover::before {
  left: 70%;
}
.btn:hover::after {
  right: 70%;
}
@media screen and (max-width: 500px) {
  .btn {
    min-width: 150px;
    max-width: 150px;
  }
  .row h2 {
    font-size: 2rem;
  }
  .row h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 850px) {
  #increase {
    order: 1;
  }
  #decrease {
    order: 2;
  }

  #reset {
    order: 3;
  }
}
/* Modal */
.modal {
  opacity: 0;
  z-index: -10;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.d-block {
  opacity: 1;
  z-index: 10;
}

/*product  */
.product-container {
  /* background-color: red; */
  width: 75vw;
  margin: 0 auto;
  max-width: 1500px;
}
.product-container ul {
  /* background-color: burlywood; */
  list-style: none;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 40px;
  row-gap: 50px;
}
.product-container li {
  /* background-color: darkblue; */
  border: 5px solid var(--mainWhiteColor);
  border-radius: 20px;
  color: var(--mainWhiteColor);
  padding: 20px;
  max-width: 350px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.product-container h1 {
  color: var(--mainWhiteColor);
  text-align: center;
  font-size: 4rem;
  letter-spacing: var(--mainletterSpacing);
  margin-bottom: 2rem;
}
.product-container li h2 {
  font-size: 1.5rem;
}
.product-container li img {
  width: 100%;
  margin: 1rem auto;
}
